<html ng-app="heyMisterHangman">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/hangman/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/hangman/base.css">
    <script src="https://use.typekit.net/rwe0eii.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    <script src="/hangman/bower_components/angular/angular.min.js"></script>
    <script src="/hangman/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/hangman/main.js"></script>
</head>
<body ng-controller="ctrlOne" ng-keypress="kPress($event)">
<div class="viewport">
    <div class="overlay" ng-if="gameLoading || gameSession.gameOver || gameSession.gameWon">
        <div class="loading" ng-if="gameLoading">
            <h3>loading…</h3>
        </div>
        <div class="loading" ng-if="gameSession.gameOver">
            <h3>game over</h3>
            <button class="btn specbutton" ng-click="gameHandlers.newGame()">new game</button>
        </div>
        <div class="loading" ng-if="gameSession.gameWon">
            <h3>game won !</h3>
            <button class="btn specbutton" ng-click="gameHandlers.newGame()">new game</button>
        </div>
    </div>
    <div class="hangman">
        <div class="bar"></div>
        <div class="head" ng-if="gameSession.badGuesses.length > 0"></div>
        <div class="neck" ng-if="gameSession.badGuesses.length > 1"></div>
        <div class="corpus" ng-if="gameSession.badGuesses.length > 2"></div>
        <div class="leftHand" ng-if="gameSession.badGuesses.length > 6"></div>
        <div class="leftLeg" ng-if="gameSession.badGuesses.length > 8"></div>
        <div class="leftFoot" ng-if="gameSession.badGuesses.length > 10"></div>
        <div class="leftArm" ng-if="gameSession.badGuesses.length > 4"></div>
        <div class="rightHand" ng-if="gameSession.badGuesses.length > 5"></div>
        <div class="rightLeg" ng-if="gameSession.badGuesses.length > 7"></div>
        <div class="rightFoot" ng-if="gameSession.badGuesses.length > 9"></div>
        <div class="rightArm" ng-if="gameSession.badGuesses.length > 3"></div>
    </div>
    <div class="strangeBox" ng-class="{good: gameSession.lastGuess=='ok', bad: gameSession.lastGuess=='bad'}"></div>
    <div class="missingLetters">
        <h4 ng-class="{hide: !gameSession.badGuesses.length}">You missed:</h4>
        <h4 ng-class="{hide: gameSession.badGuesses.length}">Type letters from keyboard <br>till poor man die…</h4>
        <ul>
            <li ng-repeat="char in gameSession.badGuesses track by $index">{{ char }}</li>
        </ul>
    </div>
    <div class="password">
        <ul>
            <li class="letter"
                ng-repeat="letter in gameSession.preparedLetters track by $index"
                ng-class="{disabled: letter == '', shown: letterShown(letter)}">
                <span ng-if="letterShown(letter)">{{ letter }}</span>
            </li>
        </ul>
    </div>
</div>
<div class="miniTools hide">
    <button class="btn btn-default btn-lg" ng-click="gameHandlers.newGame()">new</button>
    {{ gameSession.lastGuess }}
</div>
</body>
</html>